<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
</head>

<body width='60%'>
    <div style="display:table; text-align:center">
        <table border="0" align="center" width="800" style="width: 800px;" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="border:1px solid #ccc;">
                        <div style="padding:0px 0px 0px 0px">
                            <div style="padding:5px 0px 10px 0px;overflow:hidden;">
                                <div style="text-align:center">
                                    <a title="Narola Gems Logo" rel="noreferrer">
                                        <img src="https://pcknstg.blob.core.windows.net/hdfile/WebsiteImg/EmailLogo.png"
                                            border="0" alt="Narola Gems Logo" style="border:0" class="CToWUd">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid #ccc;">
                        <div>
                            <table cellspacing="0" rules="all" border="0"
                                style="font-family:Arial;width:1024px;border-collapse:collapse">
                                <div
                                    style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2;">
                                    <div style="margin:50px auto;width:70%;padding:0">
                                        
                                    <p style="font-size:1.1em;text-align: left;">Hi, <%= USERID %></p>
                                        <p style="text-align: left;">Thank you, Use the following OTP to complete your Log in
                                            process.</p>
                                        <h2
                                            style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
                                            <%= OTP %></h2>

                                        <hr style="border:none;border-top:1px solid #eee" />
                                    </div>
                                </div>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td
                                        style="font-family:arial;font-size:14px;text-align:center;font-weight:bold;background-color:#ccc;padding:10px">
                                        All Material,Contents © <%= year %> NAROLA GEMS. All Rights
                                        Reserved.</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>